@font-face {
    font-family : ProximaNova-Light;
    src         : url('fonts/ProximaNova-Light.otf');
}

@font-face {
    font-family : ProximaNova-Regular;
    src         : url('fonts/ProximaNova-Regular.otf');
}

@font-face {
    font-family : ProximaNova-Bold;
    src         : url('fonts/ProximaNova-Bold.otf');
}

@font-face {
    font-family : ProximaNova-Extrabold;
    src         : url('fonts/ProximaNova-Extrabold.otf');
}

/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */

body {
    background-color : #eaeaea;
    overflow         : hidden;
    font             : 400 14px/1.8 "ProximaNova-Regular", 'Helvetica', 'Arial', San-serif;
    color            : #777;
}

a {
    transition : all 0.25s ease;
}

a:hover {
    text-decoration : none;
    cursor          : pointer;
}

b {
    font-family : ProximaNova-Bold;
}

strong {
    font-family : ProximaNova-Extrabold;
}

.upper {
    text-transform : uppercase;
}

.shine {
    color       : #fff;
    text-shadow : 0 0 10px rgba(255, 255, 255, 0.4);
}

.dark {
    color       : rgba(0, 0, 0, 0.7);
    text-shadow : 0 0 10px rgba(0, 0, 0, 0.15);
}

/* ------------------------------------------------------------------
Main Styles
------------------------------------------------------------------ */
.watch-row {
    height : 50%;
}

.watch-panel {

    height  : 100%;
    padding : 20px;
    border  : 1px solid #dddddd;

}

.watch-container {
    width         : 250px;
    height        : 250px;
    border-radius : 50%;
    overflow      : hidden;
    margin        : 0 auto;
    position      : relative;

}

.watch-screen {

    cursor        : url(circle.png), auto;
    position      : absolute;
    width         : 250px;
    height        : 250px;
    border-radius : 50%;
    overflow      : hidden;
    background    : #353f46;
}

.watch-content {
    position : absolute;
    left     : -340px;
    width    : 930px;
    height   : 250px;
}

.watch-label {
    margin-top : 10px;
    text-align : center;
}

#slider {
    position : absolute;
    left     : 150px;
    top      : 45px;
}

.screen-btn {
    border-radius : 50%;
    width         : 150px;
    height        : 150px;
    background    : #939393;
    font-size     : 18px;
    position      : absolute;
    z-index       : 2;

}

.screen-btn:hover {
    background          : #40d0bb;
    transition-duration : 2000ms;

}

.screen-btn span {
    color      : #ffffff;
    position   : absolute;
    width      : 100%;
    text-align : center;

}

.top-btn {
    top  : -150px;
    left : 50px;
}

.bottom-btn {
    bottom : -150px;
    left   : 50px;
}

.left-btn {
    left : -150px;
    top  : 50px;
}

.right-btn {
    right : -150px;
    top   : 50px;
}

.top-btn span {
    bottom : 10px;
}

.bottom-btn span {
    top : 10px;
}

.left-btn span {
    top        : 40%;
    right      : 10px;
    text-align : right;
}

.right-btn span {
    top        : 40%;
    left       : 10px;
    text-align : left;
}

.swiper-slide {
    background    : url('img.jpg');
    height        : 100%;
    border-radius : 50%;
}

.swiper-slide-blank {

    background : #353f46;
}

.swiper-btn {
    position      : absolute;
    width         : 50%;
    height        : 50%;
    top           : 25%;
    left          : 25%;

    background    : #40d0bb;
    border-radius : 50%;
}

.swiper-btn i {
    display   : block;
    position  : relative;
    font-size : 40px;
    color     : #fff;
    left      : 26%;
    top       : 34%;
}

#watch-pic {
    position : absolute;
    left     : 130px;
    bottom   : 20px;
    width    : 54px;
    height   : 54px;
}

/*! =======================================================
                      VERSION  4.4.0
========================================================= */
/*! =========================================================
 * bootstrap-slider.js
 *
 * Maintainers:
 *		Kyle Kemp
 *			- Twitter: @seiyria
 *			- Github:  seiyria
 *		Rohit Kalkur
 *			- Twitter: @Rovolutionary
 *			- Github:  rovolution
 *
 * =========================================================
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 * ========================================================= */
.slider {
    display        : inline-block;
    vertical-align : middle;
    position       : relative;
}

.slider.slider-horizontal {
    width  : 210px;
    height : 20px;
}

.slider.slider-horizontal .slider-track {
    height     : 10px;
    width      : 100%;
    margin-top : -5px;
    top        : 50%;
    left       : 0;
}

.slider.slider-horizontal .slider-selection {
    height : 100%;
    top    : 0;
    bottom : 0;
}

.slider.slider-horizontal .slider-handle {
    margin-left : -35px;
    margin-top  : 3px;
}

.slider.slider-horizontal .slider-handle.triangle {
    border-width        : 0 10px 10px 10px;
    width               : 0;
    height              : 0;
    border-bottom-color : #0480be;
    margin-top          : 0;
}

.slider.slider-vertical {
    height : 210px;
    width  : 20px;
}

.slider.slider-vertical .slider-track {
    width       : 3px;
    height      : 100%;
    margin-left : -5px;
    left        : 50%;
    top         : 0;
}

.slider.slider-vertical .slider-selection {
    width  : 100%;
    left   : 0;
    top    : 0;
    bottom : 0;
}

.slider.slider-vertical .slider-handle {
    margin-left : 0px;
    margin-top  : -61px;
}

.slider.slider-vertical .slider-handle.triangle {
    border-width      : 10px 0 10px 10px;
    width             : 1px;
    height            : 1px;
    border-left-color : #0480be;
    margin-left       : 0;
}

.slider.slider-disabled .slider-handle {
    background-image  : -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image  : -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
    background-image  : linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
    background-repeat : repeat-x;
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdfdfdf', endColorstr='#ffbebebe', GradientType=0);
}

.slider.slider-disabled .slider-track {
    background-image  : -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
    background-image  : -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
    background-image  : linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
    background-repeat : repeat-x;
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe5e5e5', endColorstr='#ffe9e9e9', GradientType=0);
    cursor            : not-allowed;
}

.slider input {
    display : none;
}

.slider .tooltip.top {
    margin-top : -36px;
}

.slider .tooltip-inner {
    white-space : nowrap;
}

.slider .hide {
    display : none;
}

.slider-track {
    position         : absolute;
    cursor           : pointer;
    background       : #72d2c8;
    background-image : -o-linear-gradient(top, #f5f5f5 0%, #f9f9f9 100%);
    /* background-image   : linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%); */
    /* background-repeat  : repeat-x; */
    filter           : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    /* -webkit-box-shadow : inset 0 1px 2px rgba(0, 0, 0, 0.1); */
    /* box-shadow         : inset 0 1px 2px rgba(0, 0, 0, 0.1); */
    border-radius    : 4px;
}

.slider-selection {
    position          : absolute;
    background        : #2f2f2f;
    background-image  : -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
    /* background-image   : linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); */
    background-repeat : repeat-x;
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
    /* -webkit-box-shadow : inset 0 -1px 0 rgba(0, 0, 0, 0.15); */
    /* box-shadow         : inset 0 -1px 0 rgba(0, 0, 0, 0.15); */
    /* -webkit-box-sizing : border-box; */
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
    border-radius     : 4px;
}

.slider-handle {
    position          : absolute;
    width             : 100px;
    height            : 100px;
    background-color  : #337ab7;
    background-image  : -webkit-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image  : -o-linear-gradient(top, #149bdf 0%, #0480be 100%);
    background-image  : linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
    background-repeat : repeat-x;
    filter            : progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    /* filter             : none; */
    /* -webkit-box-shadow : inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05); */
    /* box-shadow         : inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05); */
    /* border             : 0px solid transparent; */
}

.slider-handle.round {
    border-radius : 50%;
}

.slider-handle.triangle {
    background : transparent none;
}

.slider-handle.custom {
    background      : url("Gesture Icons-02.png");
    background-size : 100%;

    /* You can customize the handle and set a background image */
}